.fs {
    height: 480px;
    margin-bottom: 30px;
}
.grid {
    height: 480px;
}
.fs_col1 {
    float: left;
    margin-right: 10px;
    overflow: hidden;
    height: 480px;
    width: 190px;
}
.J_cate {
    margin-top: 10px;
    height: 470px;
    background-color: #fff;
}
.menu {
    overflow: hidden;
    padding: 10px 0;
    margin-top: 10px;
}
.menu_item {
    padding-left: 18px;
    height: 25px;
    line-height: 25px;
}
.menu_lk {
    font-size: 14px;
    font-style: normal;
    color: #333;
}
.menu_line {
    font-size: 12px;
}
.fs_col2 {
    float: left;
    margin-right: 10px;
    overflow: hidden;
    width: 790px;
    height: 480px;
}
.J_focus {
    position: relative;
    margin-top: 10px;   
    height: 470px;
    background-color: #f6f6f6;
}
.focus_slider {
    position: absolute;
    left: 0;
    width: 590px;
    height: 470px;
}
.arrow-l,
.arrow-r {
    position: absolute;
    top: 50%;
    width: 25px;
    height: 35px;
    margin-top: -17.5px;
    background-color: rgba(0, 0, 0, 0.2);
    line-height: 35px;
    z-index: 999;
    font-size: 20px;
    border: none;
    text-align: center;
    color: #fff;
}
.arrow-l {
    left: 0;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}
.arrow-r {
    right: 0;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}
.slider_indicators {
    position: absolute;
    bottom: 20px;
    left: 30px;
}
.slider_indicators li {
    float: left;
    width: 9px;
    height: 9px;
    margin-right: 4px;
    border:1px solid rgba(0, 0, 0, 0.05);
    background-color: rgba(255,255,255,.4);
    border-radius: 50%;
    cursor: pointer;
}
.slider_indicators .slider_current {
    background-color: #fff;
}
.focus_wrapper {
    position: absolute;
    right: 0;
    width: 190px;
    height: 470px;
}
.focus_wrapper_item {
    display: block;
    width: 190px;
    height: 150px;
    margin-bottom: 10px;
}
.focus_wrapper_item img {
    width: 100%;
    height: 100%;
}
.fs_col3 {
    margin-top: 10px;
    position: relative;
    float: right;
    width: 190px;
    height: 470px;
    background-color: #fff;
}
.J_user {
    position: relative;
    margin-top: 10px;
    height: 102px;
}
.J_user::after {
    width: 160px;
    height: 1px;
    left: 15px;
    right: 15px;
    background: -webkit-gradient(linear,right top,left top,from(white),color-stop(#eeeeee),color-stop(#eeeeee),to(white));
    background: linear-gradient(270deg,white,#eeeeee,#eeeeee,white);
    content: "  ";
    bottom: 0;
}
.user_info {
    position: relative;
    height: 102px;
}
.user_info_lk1 {
    height: 67px;
}
.user_avatar {
    position: absolute;
    left: 20px;
    top: 13px;
    width: 44px;
    height: 44px;

}
.user_avatar_lk{
    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    -webkit-box-shadow: 0 2px 8px rgb(0 0 0 / 5%);
    box-shadow: 0 2px 8px rgb(0 0 0 / 5%);
}
.user_avatar_lk img {
    display: block;
    width: 40px;
    height: 40px;
}
.user_show {
    position: absolute;
    top: 16px;
    left: 74px;
}
.user_show span {
    padding: 1px;
}
.user_info_lk2 {
    display: block;
    height: 35px;
    text-align: center;
}
.user_profit_lk {
    display: inline-block;
    margin: 0 5px;
    width: 70px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    border-radius: 13px;
    background-color: #e1251b;
}
.user_info_lk2 a:hover {
    background-color: #c81623;
    color: #fff;

}
.user_profit_lk_plus {
    background-color: #363634;
    color: #e5d790;
}
.new {
    overflow: hidden;
    height: 130px;
}
.news_hd {
    position: relative;
    padding: 10px 0 0;
    height: 20px;
    line-height: 20px;
    margin-bottom: 8px;
}
.news_tit {
    display: inline-block;
    font-size: 14px;
    margin-left: 15px;
    color: #333;
}
.news_more {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 12px;
    color: #999;
}
.news_list {
    position: relative;
    margin: 0 15px;
    height: 88px;
}
.new .news_item {
    max-width: 160px;
    height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #999;
    margin-bottom: 6px;
}
.news_tag {
    display: inline-block;
    position: relative;
    font-size: 12px;
    width: 35px;
    height: 16px;
    line-height: 16px;
    vertical-align: 0;
    color: #e1251b;
    background-color: rgba(225,37,27,.08);
    margin-right: 6px;
    text-align: center;
}
.service_entry {
    width: 189px;
    height: 230px;
    padding: 5px 0.5px;
}
.service_list {
    height: 225px;
    padding-top: 5px;
}
.service_item {
    float: left;
    width: 63px;
    height: 55px;
    background-color: #fff;
    text-align: center;
    overflow: hidden;
}
.service_lk {
    display: block;
}
.service_ico {
    display: inline-block;
    overflow: visible;
    background-size: 200px 59.3px;
}
.service_ico_img {
    width: 28px;
    height: 28px;
}
.service_txt {
    display: block;
}
.seckill {
    height: 260px;
    background: white;
}
.seckill_countdownbox {
    float: left;
    width: 190px;
    height: 260px;
    background-color: #e83632;
    background: url(../img/seckillbg.png) no-repeat;
}
.seckill_countdown {
    color: #fff;
}
.seckill_countdown:hover {
    color: #fff;
}
.seckill_countdown_tit {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-top: 31px;
}
.seckill_countdown_desc {
    width: 100%;
    float: left;
    font-size: 14px;
    text-align: center;
    margin-top: 90px;
}
.seckill_countdown_desc strong {
    font-size: 18px;
}
.seckill_countdown_timer {
    position: relative;
    float: left;
    margin-left: 28px;
    margin-top: 10px;
    width: 100%;
    height: 30px;
}
.timer_style {
    float: left;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #2f3430;
    margin-right: 20px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.timer_split {
    position: absolute;
    font-size: 18px;
    font-weight: bolder;
}
.timer_split_l {
    left: 37px; 
}
.timer_split_r {
    right: 97px;
}
.seckill_list {
    position: relative;
    float: left;
    width: 800px;
    height: 260px;
    background-color: white;
}
.slider_wrapper {
    width: 8000px;
    height: 260px;
}
.slider_item {
    float: left;
    position: relative;
    display: block;
    width: 200px;
    height: 260px;
    background-color: white;
}
.slider_item:hover {
    opacity: .8;
}
.slider_item::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 200px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: -webkit-gradient(linear,left top,left bottom,from(white),color-stop(#eeeeee),to(white));
    background: linear-gradient(180deg,white,#eeeeee,white);
}
.item_img_lk {
    width: 140px;
    height: 140px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.item_img {
    width: 100%;
    height: 100%;
}
.item_name {
    font-size: 12px;
    font-weight: 400;
    width: 160px;
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item_price {
    width: 160px;
    height: 24px;
    line-height: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    text-align: center;
    color: #e1251b;
    font-size: 12px;
    font-weight: 700;

}
.seckill_brand {
    float: left;
    width: 180px;
    height: 240px;
    padding: 10px;

}
.brand_item {
    width: 180px;
    height: 240px;
}
.brand_item_img_lk {
    width: 120px;
    height: 120px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.item_info {
    height: 90px;
    background: linear-gradient(180deg,rgba(255,255,255,.5),rgba(220,224,236,.5));
}
.item_info_tit {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
    text-align: center;
}
.item_info_promo {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #333;
}
.item_info_button {
    display: inline-block;
    width: 82px;
    height: 24px;
    margin-left: 54px;
    margin-top: 3px;
    padding-left: 3px;
    line-height: 21px;
    color: #e1251b;
    font-weight: 700;
    text-align: center;
    box-sizing: border-box;
    border-radius: 14px;
    border: 1px solid #e1251b;
}
.slider_indicators {
    position: absolute;
    margin-left: -6px;
    bottom: 5px;
    left: 50%;
    text-align: center;
    font-size: 0;
}
.slider_indicators_btn {
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #999;
    margin-right: 3px;

}
.block1 {
    margin: 20px 0;
    height: 340px;
}
.special_offer {
    float: left;
    width: 590px;
    height: 340px;
    margin-right: 10px;
    background-color: #fff;
}
.item_dh {
    height: 60px;
    padding: 0 20px;
}
.special_offer_item {
    height: 285px;
    padding: 0 15px 15px;
}
.special_offer_item a:hover {
    opacity: .8;
}
.dh_lk {
    position: relative;
    height: 60px;
    line-height: 60px;
}
.dh_tit {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    color: #333;
}
.dh_go {
    position: absolute;
    width: 16px;
    height: 16px;
    right: -22px;
    bottom: 3px;
    background: url(../img/sprite.png) no-repeat -16px 0px;
    
}
.tab_head {
    float: right;
    height: 60px;
    line-height: 60px;
    
}
.tab_head li{
    float: left;
    padding: 0 13.5px;
    font-size: 14px;
}
.tab_head_tit {
    width: 28px;
    height: 21px;
    cursor: pointer;
}
.tab_head_tit:hover {
    color: #e1251b;
    border-bottom: 3px solid #e1251b;
}
.now {
    color: #e1251b;
    border-bottom: 3px solid #e1251b;
}
.lowest_item {
    float: left;
    width: 170px;
    height: 265px;
    margin-right: 10px;
    background-color: rgba(109,126,146,.05);
}
.l_item_info {
    position: relative;
    width: 170px;
    display: inline-block
}
.tip {
    position: absolute;
    left: 0;
    top: 0;
    width: 90px;
    height: 24px;
    line-height: 24px;
    background: url(../img/bg-orange.png) no-repeat;
    text-align: center;
    color: #fff;
    font-weight: 700;
}
.l_item_img_lk {
    display: block;
    width: 120px;
    height: 120px;
    margin: 42px auto 0;
}
.l_item_img {
    width: 100%;
    height: 100%;
}
.l_item_name {
    height: 19px;
    width: 150px;
    margin: 9px 10px 4px;
    line-height: 19px;
    font-size: 14px;
}

.l_item_price {
    font-size: 20px;
    margin-left: 58px;
    color: #e1251b;
    font-weight: 700;
}
.lowest_item .price_ico {
    font-size: 14px;
}
.special_item_list {
    display: inline-block;
    width: 380px;
    height: 265px;
}
.special_item {
    position: relative;
    display: inline-block;
    width: 170px;
    margin-top: 18px;
    margin-right: 15px;
    margin-bottom: 35px;
}
.special_item_img_lk {
    width: 84px;
    height: 84px;
}
.special_item_img {
    width: 100%;
    height: 100%;
}
.special_item_name {
    position: absolute;
    right: 1px;
    top: 15px;
    width: 75px;
    height: 32px;
}
.special_item_price {
    position: absolute;
    top: 52px;
    right: 41px;
    color: #e1251b;
    font-size: 14px;
    font-weight: 700;
}
.lightning_buy {
    float: left;
    width: 590px;
    height: 340px;
    background-color: #fff;
}
.lightning_top {
    float: left;
    width: 270px;
    height: 265px;
    margin-left: 15px;
    background: linear-gradient(180deg,rgba(245,175,175,.05),rgba(79,3,3,.05));
}
.lightning_top a {
    width: 270px;

    text-align: center;
    display: inline-block;
}
.top_name_img {
    display: block;
    width: 70px;
    height: 35px;
    margin: 15px auto 10px;
}
.top_tit {
    font-size: 16px;
    color: #333;
}
.top_day {
    padding: 2px;
    font-weight: 700;
}
.top_good_img {
    margin: 10px;
    width: 130px;
    height: 130px;
}
.lightning_merchants {
    float: left;
    width: 270px;
    margin-left: 20px;
    margin-top: -48px;
}
.merchants {
    position: relative;
    float: left;
    width: 135px;
    height: 100px;
    padding: 8px 0;
    text-align: center;
    
}
.merchants_img {
    width: 100px;
    height: 50px;
}
.merchants:hover {
    opacity: .8;
    color: #666;
}
.merchants_tit {
    margin-top: -2px;
    color: #333;
}
.merchants:nth-child(2n - 1)::after {
    z-index: 1;
    position: absolute;
    width: 1px;
    height: 60px;
    right: 0;
    top: 50%;
    margin-top: -40px;
    background: -webkit-gradient(linear,left top,left bottom,from(white),color-stop(#eeeeee),color-stop(#eeeeee),to(white));
    background: linear-gradient(180deg,white,#eeeeee,#eeeeee,white);
    content: "";
}
.block2 {
    position: relative;
    height: 260px;
}
.findgoods_logo {
    float: left;
    display: block;
    position: relative;
    width: 180px;
    height: 260px;
    margin-right: 10px;
    background: url(../img/findgoos-bg.png);
}
.findgoods_logo_img {
    position: absolute;
    left: 50%;
    top: 15px;
    margin-left: -80px;
}
.findgoods_slogan {
    position: absolute;
    left: 50%;
    margin-left: -62px;
    top: 72px;
    font-size: 16px;
    color: #FFFFFFCC;

}
.findgoods_ico {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 117px;
    top: 76px;
    background: url(../img/sprite.png) no-repeat 0px -16px;
}
.findgoods_logo:hover .findgoods_ico {
    background: url(../img/sprite.png) no-repeat 0px 0px;
}
.findgoods_slider {
    float: left;
    width: 1000px;
    height: 260px;
    background-color: #fff;
    overflow: hidden;
    
}
.findgoods_itemlist {
    width: 2000px;
    height: 100%;
}
.findgoods_item {
    float: left;
    text-align: center;
    width: 150px;
    height: 181px;
    margin-top: 50px;
    margin-right: 50px;
}
.findgoods_item_img {
    width: 150px;
    height: 150px;
}
.findgoods_item_name {
    font-size: 14px;
    color: #333;
}
.findgoods_item:hover {
    opacity: .8;
}
.findgoods_item:hover .findgoods_item_name {
    color: #e1251b;
}
.block3 {
    position: relative;
    width: 1200px;
    height: 340px;
    margin-top: 20px;
}
.block3_container {
    float: left;
    width: 290px;
    height: 340px;
    margin-right: 10px;
    background-color: #FFFFFFCC;
}
.newitme_slider {
    position: relative;
    width: 290px;
    height: 250px;
}
.newitem_list {
    width: 260px;
    height: 250px;
    margin: 0 auto;
}
.joy_box {
    width: 290px;
}
.joy_head {
    width: 280px;
    height: 35px;
    text-align: center;
    margin-left: 4px;
}
.joy_head_item {
    display: inline-block;
    width: 62px;
    height: 20px;
    margin: 0 2px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    border-radius: 12px;
    color: #999;
    background-color: #f6f6f6;
}
.joy_head_item:hover,
.joy_now {
    background-color: #e1251b;
    color: #fff;
}
.joy_item {
    display: block;
    width: 290px;
    height: 70px;
    position: relative;
    margin-bottom: 10px;
}
.joy_item_img {
    margin-left: 16px;
    float: left;
    display: block;
    width: 70px;
    height: 70px;
}
.joy_item_text {
    position: relative;
    display: inline-block;
    width: 180px;
    height: 70px;
    margin-left: 8px;
}
.joy_item_name {
    display: block;
    overflow: hidden;
    width: 180px;
    height: 38px;
    font-size: 14px;
    color: #333;
}
.joy_item_price {
    position: absolute;
    left: -45px;
    bottom: 0px;
    font-size: 16px;
    font-weight: normal;
}
.joy_item_price .price_ico {
    font-size: 12px;
}